html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.wrapper {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .wrapper {
    margin-left: 20px;
    width: 100vw;
  }
}
